## LISTS

In [1]:
my_list = ["Apple", "Banana", "Cherry"]

# first item in the list
my_list[0] # Apple

# second item in the list
my_list[1] # Banana

# third item in the list
my_list[2] # Cherry

# last item in the list
my_list[-1] # Cherry

nested_list = ["Apple", ["Banana", "Cherry"], "Durian"]

# first item in the list
nested_list[0] # Apple

# second item in the list
nested_list[1] # ["Banana", "Cherry"]

# first item in the nested list
nested_list[1][0] # Banana

# second item in the nested list
nested_list[1][1] # Cherry

'Cherry'

In [2]:
my_list = ["Apple", "Banana", "Cherry"]

# first item in the list
my_list[-3] # Apple

# second item in the list
my_list[-2] # Banana

# third item in the list
my_list[-1] # Cherry

'Cherry'

In [3]:
# list slicing
my_list = ["P", "y", "t", "h", "o", "n"]

# elements from index 2 to index 4
my_list[2:5] # ['t', 'h', 'o']

['t', 'h', 'o']

In [4]:
# list slicing
my_list = ["P", "y", "t", "h", "o", "n"]

# elements from index 2 to the end
my_list[2:] # ['t', 'h', 'o', 'n']

['t', 'h', 'o', 'n']

In [5]:
# list slicing
my_list = ["P", "y", "t", "h", "o", "n"]

# elements from the beginning to the end
my_list[:] # ['P', 'y', 't', 'h', 'o', 'n']

['P', 'y', 't', 'h', 'o', 'n']

In [6]:
# Correcting mistake values in a list
odd = [2, 4, 6, 8]

# change the value of the first item in the list
odd[0] = 1

print(odd) # [1, 4, 6, 8]

# change 2nd to 4th items
odd[1:4] = [3, 5, 7]

print(odd) # [1, 3, 5, 7, 8]

[1, 4, 6, 8]
[1, 3, 5, 7]

In [7]:
fruits = ["Apple", "Banana", "Cherry"]

# add one item to the end of the list
fruits.append("Durian")

print(fruits) # ['Apple', 'Banana', 'Cherry', 'Durian']

# add several items to the end of the list
fruits.extend(["Mango", "Orange"])

print(fruits) # ['Apple', 'Banana', 'Cherry', 'Durian', 'Mango', 'Orange']

['Apple', 'Banana', 'Cherry', 'Durian']
['Apple', 'Banana', 'Cherry', 'Durian', 'Mango', 'Orange']

In [8]:
# repeat a list for 3 times
even = [2, 4, 6, 8]

print(even * 3) # [2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8]

odd = [1, 3, 5, 7]

numbers = even + odd # [2, 4, 6, 8, 1, 3, 5, 7]

[2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8]

In [9]:
fruits = ["Apple", "Banana", "Cherry"]

# insert one item at index 2
fruits.insert(2, "Durian")

print(fruits) # ['Apple', 'Banana', 'Durian', 'Cherry']

# insert multiple items at index 2
fruits.insert(2, ["Mango", "Orange"])

print(fruits) # ['Apple', 'Banana', 'Mango', 'Orange', 'Durian', 'Cherry']

['Apple', 'Banana', 'Durian', 'Cherry']
['Apple', 'Banana', ['Mango', 'Orange'], 'Durian', 'Cherry']

In [13]:
fruits = ["Apple", "Banana", "Cherry"]
fruits[::-1]

['Cherry', 'Banana', 'Apple']

In [14]:
# Example on Python list methods
fruits = ["Apple", "Banana", "Cherry", "Durian", "Mango", "Orange"]

print(fruits.count("Apple")) # 1

# Add fruit to the end
fruits.append("Kiwi")

print(fruits) # ['Apple', 'Banana', 'Cherry', 'Durian', 'Mango', 'Orange', 'Kiwi']

# Index of first occurrence of "Orange"
print(fruits.index("Orange")) # 5

1
['Apple', 'Banana', 'Cherry', 'Durian', 'Mango', 'Orange', 'Kiwi']
5

In [17]:
planets = ["mercury","venus","earth","mars","jupiter","saturn","neptune","neptune"]

print(f"Mercury is at position {planets.index('mercury')} from the sum")
planets.append("pluto")
planets

Mercury is at position 0 from the sum

['mercury',
 'venus',
 'earth',
 'mars',
 'jupiter',
 'saturn',
 'neptune',
 'neptune',
 'pluto']

In [29]:
planets = ["mercury","venus","earth","mars","jupiter","saturn","neptune","neptune"]
moons = [("earth","moon"),("jupiter","io","europa","mimas"),("saturn","dione")]
# planets.extend(moons)
planets.sort(key=None, reverse=False)
planets

['earth',
 'jupiter',
 'mars',
 'mercury',
 'neptune',
 'neptune',
 'saturn',
 'venus']

In [30]:
powers = []

for x in range(10):
    powers.append(2 ** x)

print(powers) # [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [31]:
# make a list with each item being increasing power of 2 if divisible by 4
powers = [2 ** x for x in range(10) if x % 4 == 0]

print(powers) # [16, 32, 64, 128]

# a list of odd numbers
odds = [x for x in range(10) if x % 2 == 1]

# nested list comprehension
matrix = [[x for x in range(y)] for y in range(3)]

print(matrix) # [[], [0], [0, 1]]

[1, 16, 256]
[[], [0], [0, 1]]

In [33]:
growing_matrix = [[n for n in range(m)] for m in range(10)]
growing_matrix

[[],
 [0],
 [0, 1],
 [0, 1, 2],
 [0, 1, 2, 3],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4, 5],
 [0, 1, 2, 3, 4, 5, 6],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7, 8]]

In [35]:
matrix = [[x for x in range(10)] for y in range(10)]
matrix

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [39]:
reverse_growing_matrix = [[n for n in range(m)] for m in range(10,0,-1)]
reverse_growing_matrix

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6],
 [0, 1, 2, 3, 4, 5],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3],
 [0, 1, 2],
 [0, 1],
 [0]]

In [42]:
planets = ["mercury","venus","earth","mars","jupiter","saturn","neptune"]

while planets:
    planet = planets.pop()
    print(f"{planet} is at position {planets.index(planet)} from the sun")

ValueError: 'neptune' is not in list